.catalog {
    display: flex;
    padding-top: 70px;
    &__sidebar {
        max-width: 270px;
        width: 100%;
        margin: 0 15px;
        position: sticky;
        top: 0;
        margin-top: 30px;
    }
    &__content {
       width: 100%;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &-item {
        width: calc(33.33% - 30px);
        padding: 15px;
        margin: 30px 15px 0 15px;
        box-shadow: 0 0 30px #e8e8e8;
        &__top {
            padding: 15px 0;
            height: 230px;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            margin-bottom: 60px;
        }
        &__nav {
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            transition: 400ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn {
            background: #fff;
            outline: none;
            border: none;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 400ms;
            cursor: pointer;
            box-shadow: 0 0 15px #e8e8e8;
            &:not(:last-child) {
                margin-right: 15px;
            }
            &:hover {
                background: #a3bbc8;
                transition: all 400ms;
                svg path{
                    fill: #fff;
                    transition: all 400ms;
                }
            }
        }
    
        &__img {
            max-width: 100%;
        }
        &__name {
            font-weight: 700;
            color: #243f4d;
            text-align: center;
            margin-bottom: 15px;
        }
        &__price {
            color: #a3bbc8;
            text-align: center;
            margin-bottom: 15px;
        }
    
        &:hover {
            .catalog-item__nav {
                transform: translateY(0);
                transition: 400ms;
            } 
        }
    
    }
}