.expirience {
    font-family: "Rubik", sans-serif;
    color: #243f4d;
    padding: 100px 0;
    &__wrap {
        display: flex;
        align-items: center;
    }
    &__image {
        width: 100%;
        &-wrap {
            width: 50%;
            padding: 0 15px;
        }
    }
    &__info {
        width: 50%;
        padding: 0 15px;
    }
    &__years {
        
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &-count {
            font-size: 140px;
            color: #a3bbc8;
            margin-right: 30px;
            font-weight: 700;
        }
        &-text {
            color: #243f4d;
            line-height: 1.5;
        }
    }
    &__title {
        color: #243f4d;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 50px;
        font-size: 36px;
    }
    &-result {
        display: flex;
        border-top: 1px solid #09316f;
        align-items: center;
        margin-top: 45px;
        padding-top: 45px;
        font-family: "DM Sans", sans-serif;
        &__item {
            display: flex;
            align-items: center;
            padding: 0 15px;
        }
        &__img {
            margin-right: 20px;
        }
        &__count {
            color: #243f4d;
            
            font-weight: 700;
            font-size: 36px;
        }
        &__name {
            font-weight: 700;
            color: #4c4c4c;
        }
    }
    @media screen and (max-width: 1199px) {
        &-result {
            &__count {
                font-size: 26px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding: 50px 0;
        &__wrap {
            flex-direction: column;
        }
        &__image-wrap {
            width: 100%;
            max-width: 570px;
            margin-bottom: 15px;
        }
        &__info {
            width: 100%;
            max-width: 570px;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0;
    }

    @media screen and (max-width: 575px) {
        &__years-count {
            font-size: 100px;
        }
        &__title {
            margin-bottom: 25px;
        }
        &-result {
            margin-top: 25px;
            padding-top: 25px;
            &__item {
                flex-direction: column;
            }
            &__img {
                margin-right: 0;
                margin-bottom: 10px;
            }
            &__count {
                font-size: 24px;
            }
        }
    }
    
}