.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    font-family: 'Rubik', sans-serif;
    position: relative;
    &__actions {
        display: flex;
        align-items: center;
        &-item {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        
    }
    &__btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #a3bbc8;
        color: #fff;
        border: none;
        cursor: pointer;
        display: none;
    }
    @media screen and (max-width: 991px) {
        padding: 20px 0;
    }
    @media screen and (max-width: 767px) {
        &__btn {
            display: block;
        }
    }
    
    
}
.actions-profile {
    display: flex;
    align-items: center;
    background: #fcd7b6;
    padding: 10px 20px;
    height: 50px;
    border-radius: 50px;
    
    &__item {
        padding: 5px  20px;
        position: relative;
        cursor: pointer;
        &:first-child {
            border-right: 1px solid rgba($color: #fff, $alpha: 0.5);
        }
        &-count {
            position: absolute;
            display: block;
            top: 10px;
            right: 20px;
            padding: 3px;
            background: #fff;
            border-radius: 18px;
            transform: translate(50%, -50%);
            font-size: 10px;
            min-width: 18px;
            text-align: center;

        }
        &-img {
            display: block;
        }
    }
}
.actions-search {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background: #edf1f4;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: all 400ms;
    &_open {
        width: 150px;
        transition: all 400ms;
        .actions-search__input {
            width: 100%;
            margin-right: 10px;
            transition: all 400ms;
        }
    }

    &__input {
        width: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid rgba($color: #243f4d, $alpha: 0.5);
        transition: all 400ms;
    }
}
.menu {
    display: flex;
    align-items: center;
    &__link {
        color: #436372;
        padding: 10px;
        text-decoration: none;
        display: block;
    }
    @media screen and (max-width: 767px) {
        &--desc {
            display: none;
        }
        &__link {
            padding: 5px 10px;
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    &__text {
        color: #436372;
        font-size: 36px;
        font-weight: 500;
    }
    &__img {
        margin-right: 10px;
    }
    &--mob {
        justify-content: center;
    }
    @media screen and (max-width: 575px) {
        &__text {
            display: none;
        }
    }
}

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    &__inner {
        position: absolute;
        right: 0;
        max-width: 300px;
        width: 100%;
        background-color: #fff;
        height: 100%;
        padding: 15px;
    }
    &__close {
        position: absolute;
        right: 0;
        top: 0;
        color: #436372;
        background: none;
        border: none;
        cursor: pointer;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}

.menu--mob {

    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}