.reviews {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    &__item {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 15px;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__nav {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__name {
        font-weight: 700;
    }
    &-form {
        margin-bottom: 25px;
        &__msg {
            margin-bottom: 25px;
            resize: none;
        }
    }
}