.products {
    font-family: 'DM Sans';
    padding: 100px 0;
    &__title {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
    &-categories {
        display: flex;
        justify-content: center;
        &__btn {
            background: none;
            outline: none;
            border: none;
            color: #000;
            opacity: 0.5;
            cursor: pointer;
            font-weight: 700;
            font-family: inherit;
            &--active {
                opacity: 1;
            }
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        &__item {
            margin: 0 15px;
        }
        &__notice {
            padding-top: 15px;
            width: 100%;
            text-align: center
        }
    }
    &-new {
        background: #f8f8f8;
        padding: 30px 0px 30px 40px;
        overflow: hidden;
        margin-top: 35px;
        width: calc(33.33% - 30px);
        &__name {
            float: left;
            color: #191919;
            font-weight: 700;
            font-size: 20px;
            clear: left;
            margin-right: 10px;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        
        &__color {
            float: left;
            color: #191919;
            font-weight: 700;
            font-size: 20px;
            clear: left;
            margin-right: 10px;
            margin-bottom: 15px;
        }
        &__collection {
            float: left;
            color: #a3bbc8;
            font-weight: 700;
            font-size: 16px;
            // clear: both;
            clear: left;


        }
        &__img-wrap {
            max-width: 200px;
            // float: right;
            display: inline-block;
            margin-top: 10px;
        }
    }
    &-week {
        width: calc(25% - 30px);
        padding: 15px;
        margin-top: 30px;
        box-shadow: 0 0 30px #e8e8e8;
        &__top {
            padding: 15px 0 30px;
            height: 230px;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            margin-bottom: 60px;
        }
        &__nav {
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            transition: 400ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn {
            background: #fff;
            outline: none;
            border: none;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 400ms;
            cursor: pointer;
            
            &:not(:last-child) {
                margin-right: 15px;
            }
            &:hover {
                background: #a3bbc8;
                transition: all 400ms;
                
                svg path{
                    fill: #fff;
                    transition: all 400ms;
                }
            }
        }

        &__img {
            max-width: 100%;
            max-height: 100%;
        }
        &__name {
            font-weight: 700;
            color: #243f4d;
            text-align: center;
            margin-bottom: 15px;
        }
        &__price {
            color: #a3bbc8;
            text-align: center;
            margin-bottom: 15px;
        }

        &:hover {
            .products-week__nav {
                transform: translateY(-15px);
                transition: 400ms;
            } 
        }
        
        &:hover &__btn {
            box-shadow: 0 0 15px #e8e8e8;
        }
    }
    @media screen and (max-width: 1199px) {
        padding: 50px 0;
        &__title {
            font-size: 34px;
        }
    }
    @media screen and (max-width: 991px) {
        &__title {
            font-size: 32px;
        }
        &-week {
            width: calc(33% - 30px);
            &__top {
                margin-bottom: 15px;
                height: 150px;
            }
        }
        &-new {
            padding: 15px 0 15px 15px;
            &__name {
                margin-top: 0;
            }
        }

    }
    @media screen and (max-width: 767px) {
        padding: 30px 0;
        &__title {
            font-size: 30px;
        }
        &-week {
            width: calc(50% - 30px); 
        }
        &-new {
            width: calc(50% - 30px);
        }
    }
    @media screen and (max-width: 575px) {
        &__title {
            font-size: 28px;
        }
        &-list {
            justify-content: center;
        }
        &-week,
        &-new {
            width: 100%;
            max-width: 240px;
        }
    }
}
